@using ExploringAppSettings.Options;
@using Microsoft.Extensions.Options;

@inject IOptions<PrintSetting> _printSetting;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Is Print Enabled: @_printSetting.Value.EnablePrintOption</p>
    <p>Default Print Size: @_printSetting.Value.DefaultPrintSize</p>
</div>
